/* section about  */

.about {
  padding-top: 80px;
  padding-bottom: 69px;
}
.about__content {
  max-width: 1080px;
}

.about__title, .about__text {
  margin: 0;
  color: #333;
}

.about__title {
  margin-bottom: 17px;
}