.catalog {
  padding: 82px 0 40px;
}

.catalog__top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.catalog__text {
  max-width: 1080px;
  margin-top: 0;
  margin-bottom: 38px;
}

.catalog__title {
  margin: 0;
  margin-right: 31px;
}

.countries {
  display: flex;
}

.countries :not(:last-child) {
  margin-right: 30px;
}

.countries__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px
}

.countries__btn {
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: .2s;
}

.countries__btn:focus {
  outline: none;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.countries__btn1 {
  background: url('../img/catalog/frank.png') center / cover no-repeat;
}

.countries__btn2 {
  background: url('../img/catalog/germ.png') center / cover no-repeat;
}

.countries__btn3 {
  background: url('../img/catalog/ital.png') center / cover no-repeat;
}

.countries__btn4 {
  background: url('../img/catalog/rus.png') center / cover no-repeat;
}

.countries__btn5 {
  background: url('../img/catalog/belg.png') center / cover no-repeat;
}

[class^="catalog__tab-"] {
  display: none;
  opacity: 0;
}

.is-clicked {
  border: 2px solid #7943A4;
  border-radius: 50%;
}

.artist {
  display: flex;
  flex-direction: column;
  width: 47%;
  /* margin-right: 47px; */
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.artist__foto {
  width: 100%;
  min-height: 360px;
  margin-bottom: 30px;
  object-fit: cover;
}

.artist__desc {
  margin: 0;
}

.artist__name {
  margin: 0;
  margin-bottom: 6px;
}

.artist__years {
  display: block;
  margin-bottom: 4px;
  color: #b5acac;
  font-size: 12px;
}

.artist__not-found-foto {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 360px;
  margin-bottom: 30px;
  background-color: #ECECEC;
  background-image: url('../img/catalog/artist-n-found.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.artist__not-found-foto::after {
  content: 'Х - Художник';
  position: absolute;
  bottom: 16%;
}

.artist__not-found-desc {
  margin-bottom: 15px;
}

.artist__not-found-link {
  color: #9D5CD0;
}

.artist__not-found-link:focus, .accor__item-empty-right-link:focus {
  outline: none;
  color: #fff;
  background-color: #7943A4;
}

/* accordion */

.accor {
  width: 50%;
}

.accor> :first-child {
  border-top: 1px solid #CACACA;
}

.accor__item-names {
  columns: auto 3;
  column-gap: 0;
  overflow: auto;
}

.ui-icon {
  position: absolute;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  background-image: url('../img/catalog/mark.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: .2s;
}

.ui-state-active .ui-icon {
  transform: rotate(0);
}

.accor__item {
  position: relative;
  margin: 0;
  margin-top: -1px;
  color: #333;
  border: 1px solid #CACACA;
  border-top: 1px solid transparent;
  border-left: initial;
  border-right: initial;
  transition: .2s;
}

.accor__item-title {
  display: flex;
  align-items: center;
  z-index: 1;
  margin: 0;
  padding: 42px 0 40px;
  color: #333;
  cursor: pointer;
  transition: .2s;
}

.accor__btn {
  position: relative;
  text-align: left;
  padding: 0;
  color: #333;
  background-color: transparent;
  cursor: pointer;
  transition: .2s;
}

.accor__btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #9D5CD0;
  transition: .2s;
}

.accor__item-empty {
  display: flex;
  align-items: center;
  max-width: 600px;
}

.accor__item-empty-left {
  position: relative;
  width: 48%;
  min-height: 189px;
  margin-right: 24px;
  border: 1px solid #B7B7B7;
}

.accor__item-empty-left::after {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  content: '';
  background-color: #B7B7B7;
}

.accor__item-empty-right {
  width: 48%;
}

.accor__item-empty-right-title {
  margin: 0;
  margin-bottom: 5px;
  color: #333;
}

.accor__item-empty-right-desc {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: #333;
}

.accor__item-empty-right-link {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(21 / 16);
  color: #9D5CD0;
}

/* .accor__item-title.ui-state-active {
  padding-bottom: 30px;
} */

.accor__item-content {
  padding: 26px 0;
  border-top: 1px solid #CACACA;
}

.accor__item-title:focus {
  outline: none;
}
.accor__item-title:focus span {
  color: #fff;
  background-color: #7943A4;
}

.accor__item-title:focus.ui-state-active {
  color: #7943A4;
  background: none;
}

.accor__btn:focus {
  outline: none;
  color: #fff;
  background: var(--colorViolet);
}

.accor__item-title.ui-state-active .ui-icon {
  background-color: #D1A9F0;
}

.display-n {
  display: none;
}

.is-active {
  display: block;
  opacity: 1;
  animation-name: show-drop;
  animation-duration: 400ms;
}

.c-violet {
  color: var(--colorViolet);
}