.events {
  padding: 40px 0 97px;
}

.events__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 13px 19px 48px 50px;
}

.events__title {
  margin: 0;
  margin-bottom: 30px;
}

.events__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.events__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CACACA;
  animation-name: show-drop;
  animation-duration: 400ms;
}

.events__img {
  position: relative;
  bottom: 0;
  width: 100%;
  object-fit: cover;
}

.events__small-text {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #999;
}

.events__card-title {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.events__card-text {
  margin: 0;
  margin-bottom: 82px;
  color: #333;
}

.events__box-link {
  cursor: pointer;
}

.events__card-link {
  display: inline-block;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  transition: .3s;
}

.events__card-link:focus {
  background-color: #9D5CD0;
  color: #fff;
  outline: none;
}

.events__button-box {
  text-align: center;
}

.events__btn {
  margin-top: 50px;
  padding: 17px 35px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 /18);
  color: #9D5CD0;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}

.events__btn:focus {
  outline: none;
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}

.d-none {
  display: none;
}