.gallery {
  position: relative;
  padding: 86px 0 80px;
  color: #fff;
  background: url(../img/gallery/gallery-b.jpg) center / cover no-repeat;
  background-color: #333;
}

.gallery__title, .gallery__text {
  margin: 0;
}

.gallery__title {
  margin-bottom: 30px;
  line-height: 1;
}

.sel-desc {
  margin-bottom: 6px;
}

.sel-desc, .gallery__text {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(32 / 16);
}

/* select */

.choices {
  transition: .2s;
}

.choices__list--dropdown {
  background: transparent;
  border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  min-height: auto;
  padding: 0;
  background: transparent;
  border: solid 1px #fff;
  border-radius: 8px;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__placeholder {
  padding: 4px 0 4px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  color: #fff;
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 4px 4px 4px 15px;
  color: #999;
}

.is-open .choices__inner {
  border-radius: 8px;
}

[role="option"][data-id="1"] {
  display: none;
}

[role="option"][data-id] {
  margin-top: -1px;
  border: solid 1px #999;
  border-top: 1px;
  border-radius: 8px;
}

.choices[data-type*="select-one"]::after {
  display: none;
}

.choices[data-type*="select-one"]::before {
  content: url('../img/gallery/mark.svg');
  position: absolute;
  top: 16px;
  left: 92%;
  transform: rotate(180deg);
  transition: .2s;
}

.choices[data-type*="select-one"].is-open::before {
  top: 12px;
  transform: none;
}

.gallery {
  position: relative;
}

.gallery__box {
  display: flex;
  justify-content: space-between;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin-right: 50px;
  z-index: 2;
}

.gallery__text {
  margin-top: auto;
  margin-bottom: -12px;
}

/* swiper */

.gallery__slider {
  z-index: 1;
  max-width: 71.5%;
  height: 100%;
  margin-top: 20px;
  overflow: hidden;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.gallery__slide {
  position: relative;
  flex-shrink: 0;
  height: calc((100% - 50px) / 2);
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

.gallery__slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid transparent;
  transition: .2s;
}

.gallery__slide::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/gallery/slide-icon.svg');
  background-repeat: no-repeat;
  background-size: 24%;
  background-position: center;
  background-clip: content-box;
  transition: opacity .2s ease;
}

.gallery__slide:hover::after {
  opacity: 1;
}

.gallery__slide:focus {
  outline: none;
}
.gallery__slide:focus::before {
  border-color: #7943A4;
}

.gallery__slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-slider-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.swiper-button-next, .swiper-button-prev {
  position: static;
  width: 30px;
  height: 30px;
  margin-top: 0;
  border-radius: 100%;
  background-color: #666;
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
  outline: none;
  border: 2px solid #000;
}

.swiper-button-next {
  background-image: url(../img/gallery/next.svg);
}

.swiper-button-prev {
  margin-right: 20px;
  background-image: url(../img/gallery/prev.svg);
}

.swiper-pagination {
  position: static;
  width: auto;
  margin-right: 12px;
  font-size: 16px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.reg:focus {
  background: var(--colorViolet);
  outline: none;
}

.gallery__text-mob {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(32 / 16);
}