.gallery {
  position: relative;
  padding: 80px 0;
  color: #fff;
  background: url(../img/gallery/gallery-b.jpg) center / cover no-repeat;
  background-color: #333;
}

.gallery__title, .gallery__text {
  margin: 0;
}
.gallery__title {
  margin-bottom: 30px;
  line-height: 1;
}

.sel-desc {
  margin-bottom: 18px;
}

.sel-desc, .gallery__text {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(32 / 16);
}

/* select */

.choices {
  /* width: 400px; */
  transition: .2s;
}

.choices__list--dropdown {
  /* width: 400px; */
  background: transparent;
  border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  /* width: 400px; */
  padding: 0;
  background: transparent;
  border: solid 1px #fff;
  border-radius: 8px;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__placeholder {
  padding: 4px 0 4px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  color: #fff;
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 4px 4px 4px 15px;
  color: #999;
}

.is-open .choices__inner {
  border-radius: 8px;
}

[role="option"][data-id="1"] {
  display: none;
}

[role="option"][data-id] {
  margin-top: -1px;
  border: solid 1px #999;
  border-radius: 8px;
}

.choices[data-type*="select-one"]::after {
  display: none;
}

.choices[data-type*="select-one"]::before {
  content: url('../img/gallery/mark.svg');
  position: absolute;
  top: 16px;
  left: 90%;
  transform: rotate(180deg);
  transition: .2s;
}

.choices[data-type*="select-one"].is-open::before {
  top: 12px;
  transform: none;
}
.gallery {
  position: relative;
}
.gallery__box {
  display: flex;
  justify-content: space-between;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-right: 50px;
}

.gallery__text {
  margin-top: auto;
}

/* swiper */

.gallery__slider {
  max-width: 71.5%;
  height: 100%;
  overflow: hidden;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.gallery__slide {
  flex-shrink: 0;
  height: calc((100% - 50px) / 2);
}

.gallery-slider-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.swiper-button-next, .swiper-button-prev {
  position: static;
  width: 30px;
  height: 30px;
  margin-top: 0;
  border-radius: 100%;
  background-color: #666;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url(../img/gallery/next.svg);
}

.swiper-button-prev {
  margin-right: 20px;
  background-image: url(../img/gallery/prev.svg);
}

.swiper-pagination {
  position: static;
  width: auto;
  margin-right: 20px;
  font-size: 16px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}
.gallery__text-mob {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(32 / 16);
}