/* hero  */

.hero {
  position: relative;
  padding-top: 187px;
  background: #333;
  overflow: hidden;
}

.hero__content {
  position: relative;
  z-index: 2;
  max-width: 610px;
  padding: 63px 0 122px 0;
}

.hero__img {
  background: url(../img/hero/hero.jpg) center / cover no-repeat;
}

.hero__img2 {
  background: url(../img/hero/hero2.jpg) center / cover no-repeat;
}

.hero__img3 {
  background: url(../img/hero/hero3.jpg) center / cover no-repeat;
}

.hero__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: zoom 8s alternate ease-in-out infinite;

}

.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #fff;
}

.hero__text {
  margin: 0 0 112px 0;
  color: #fff;
}

.hero__btn {
  position: relative;
  padding: 22px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #9D5CD0;
  border: solid 3px transparent;
  border-radius: 100px;
  transition: .2s;
}

.hero__btn:focus {
  outline: none;
  border: solid 2px #C283F3;
}

.hero__btn:focus::after {
  opacity: 1;
}

.hero__btn:hover {
  border: solid 3px #D1A9F0;
}

.hero__btn:hover::after {
  opacity: 0;
}

.hero__btn:active {
  background: var(--colorViolet);
  border: solid 3px #D1A9F0;
}

.hero__btn:active::after {
  opacity: 0;
}

.hero__btn::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: '';
  border: solid 3px #fff;
  border-radius: 100px;
  opacity: 0;
}

@keyframes zoom {
  0% {
    transform: none;
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}