/* hero  */

.hero-content {
  width: 38%;
}

.swiper-slide-active {
  animation: zoom 8s alternate ease-in-out infinite;
}

.hero-img {
  background: url(../img/hero/hero.jpg) center / cover no-repeat;
}

.hero-img2 {
  background: url(../img/hero/hero2.jpg) center / cover no-repeat;
}

.hero-img3 {
  background: url(../img/hero/hero3.jpg) center / cover no-repeat;
}

.swiper-container {
  position: absolute;
  top: 100px;
  z-index: -1;
  width: 100%;
  height: 800px;
}

.hero-title {
  font-style: 700px;
  font-size: 72px;
  line-height: 82px;
  color: #fff;
}

.hero-text {
  margin-bottom: 82px;
  color: #fff;
}

.hero-btn {
  position: relative;
  padding: 22px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #9D5CD0;
  border: solid 3px transparent;
  border-radius: 100px;
  transition: .2s;
}

.hero-btn:focus {
  outline: none;
  border: solid 2px #C283F3;
}

.hero-btn:focus::after {
  opacity: 1;
}

.hero-btn:hover {
  border: solid 3px #D1A9F0;
}

.hero-btn:hover::after {
  opacity: 0;
}

.hero-btn:active {
  background: var(--colorViolet);
  border: solid 3px #D1A9F0;
}

.hero-btn:active::after {
  opacity: 0;
}

.hero-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: '';
  border: solid 3px #fff;
  border-radius: 100px;
  opacity: 0;
}

@keyframes zoom {
  0% {
    transform: none;
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}