/* hero  */

.hero {
  position: relative;
  padding-top: 171px;
  background: #333;
  overflow: hidden;
}

.hero__content {
  position: relative;
  z-index: 2;
  max-width: 610px;
  padding: 63px 0 122px 0;
  pointer-events: none;
}

.hero__slider {
  overflow: hidden;
  width: 100%;
}
.hero__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.hero__slide {
  flex-shrink: 0;
}

.hero__img {
  background: url(../img/hero/hero.jpg) center / cover no-repeat;
}

.hero__img2 {
  background: url(../img/hero/hero2.jpg) center / cover no-repeat;
}

.hero__img3 {
  background: url(../img/hero/hero3.jpg) center / cover no-repeat;
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: zoom 8s alternate ease-in-out infinite;

}

.hero__title {
  margin: 0;
  margin-bottom: 12px;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(90 / 72);
  color: #fff;
}

.hero__text {
  margin: 0 0 95px 0;
  color: #fff;
}

.hero__btn {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px 33px;
  border: solid 3px transparent;
  border-radius: 100px;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: #fff;
  background: #9D5CD0;
  pointer-events: auto;
  transition: .2s;
}

.hero__btn:focus {
  outline: none;
}

.hero__btn:focus::after {
  border-color: #9D5CD0;
}

.hero__btn:active {
  background: var(--colorViolet);
  border: solid 3px #D1A9F0;
}

.hero__btn:active::after {
  opacity: 0;
}

.hero__btn::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 2px solid transparent;
  border-radius: 50px;
  box-sizing: border-box;
  transition-duration: .2s;
}

@keyframes zoom {
  0% {
    transform: none;
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}