@media (min-width: 1025px) and (max-width: 1920px) {
  /* header hover */
  .header-nav__link:hover, .header__select:hover, .comein:hover, .choices__inner:hover {
    color: var(--colorVioletLight);
  }
  .comein:hover path {
    fill: var(--colorVioletLight);
  }
  .dropbtn:hover {
    color: var(--colorVioletLight);
  }
  .dropbtn:hover .dropbtn__icon1, .dropbtn:hover .dropbtn__icon2 {
    background: var(--colorVioletLight);
  }
  .dropdown__link:hover::before, .dropdown__link:focus::before {
    opacity: 1;
  }
  .header__form-btn:hover path, .header__form-btn:hover rect {
    fill: var(--colorVioletLight);
    transition: .2s;
  }
  .header__search:hover {
    border-bottom: solid 1px var(--colorVioletLight);
  }

  .hero__btn:hover {
    border: solid 3px #D1A9F0;
  }
  .hero__btn:hover::after {
    opacity: 0;
  }

  .choices:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .header-nav__link:active, .header__select:active, .comein:active {
    background: transparent;
    color: var(--colorViolet);
  }
  .comein:active path {
    fill: var(--colorViolet);
  }
  .dropbtn:active {
    color: var(--colorViolet);
    background: transparent;
  }
  .dropbtn:active .dropbtn__icon1, .dropbtn:active .dropbtn__icon2 {
    background: var(--colorViolet);
  }
  .dropdown__link:active::after {
    opacity: 0.4;
  }
  .header__form-btn:active path, .header__form-btn:active rect {
    fill: var(--colorViolet);
    transition: .2s;
  }
  .header__form-btn:active {
    background: none;
  }

  .hero__btn:active {
    background: var(--colorViolet);
    border: solid 3px #D1A9F0;
  }
  .hero__btn:active::after {
    opacity: 0;
  }

}

@media (max-width: 1700px) {
  .container {
    max-width: 1200px;
  }
  /* header */
  .logo {
    margin-right: 100px;
  }
  .header-nav__list :not(:last-child), .dropdown {
    margin-right: 30px;
  }
  .header-nav__item, .comein, .dropbtn, .header__search, .header__search::placeholder {
    font-size: 16px;
  }
  .header__form-btn svg {
    width: 26px;
  }
  /* hero */
  .hero__content {
    padding: 30px 0 80px 0;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__text {
    margin-bottom: 107px;
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 0 50px;
  }
  /* header */
  .header__content {
    justify-content: space-between;
  }
  .logo, .comein {
    margin: 0;
  }
  .header-nav__list :not(:last-child), .dropdown {
    margin-right: 10px;
  }
  .header__search {
    max-width: 120px;
  }
  .header-nav__item, .comein, .dropbtn, .header__search, .header__search::placeholder {
    font-size: 14px;
  }
  .header__search::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  /* open burger */
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 106px 50px;
    background: url(../img/head/bgd-png3.png);
    transform: translateX(-200%);
    animation-name: close-menu;
    animation-duration: 400ms;
  }
  .header-nav :not(:last-child) {
    margin-bottom: 40px;
  }
  .header-nav__item {
    font-size: 24px;
  }
  .comein {
    position: fixed;
    top: 637px;
    left: 50px;
    padding: 19px 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    font-size: 18px;
    transform: translateX(-200%);
    animation-name: close-menu;
    animation-duration: 400ms;
  }
  .header-nav__list {
    flex-direction: column;
  }
  .bgd-png {
    display: none;
  }
  .burger, .header__search-mob, .header-nav__first-child {
    display: block;
  }
  .header-nav.is-open, .comein.is-open {
    overflow-y: scroll;
    transform: translateX(0);
    animation-name: open-menu;
    animation-duration: 500ms;
  }
  /* hero  */
  .hero {
    padding-top: 98px;
  }
  .hero__content {
    max-width: 660px;
    padding: 105px 0 114px 0;
  }
  /* about */
  .about__content {
    max-width: 100%;
  }
  /* gallery */
}

@media (max-width: 768px) {
  /* hero  */
  .hero__content {
    max-width: 100%;
  }
  /* gallery */
  .gallery {
    padding: 50px 0;
  }
  .gallery__box {
    flex-direction: column;
  }
  .gallery__filter {
    max-width: 280px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .gallery__text {
    display: none;
  }
  .gallery__text-mob {
    display: block;
  }
  .gallery__slider {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 670px) {
  .container {
    margin: 0 15px;
  }
  /* header  */
  .header__content {
    padding: 12px 0;
  }
  .logo {
    width: 96px;
    height: 21px;
  }
  .burger {
    width: 30px;
    height: 30px;
  }
  .burger__icon, .burger__icon::before, .burger__icon::after {
    height: 2px;
    margin-left: -7px;
  }
  .burger__icon::before {
    width: 20px;
    transform: translateY(-6px);
  }
  .burger__icon {
    width: 15px;
  }
  .burger__icon::after {
    width: 13px;
    transform: translateY(6px);
  }
  .header__search-mob svg {
    width: 16px;
    height: 16px;
  }
  .header-nav {
    padding: 56px 15px;
  }
  .header-nav :not(:last-child) {
    margin-bottom: 20px;
  }
  .header-nav__close {
    top: 15px;
    left: 16px;
  }
  .header-nav__close::before, .header-nav__close::after {
    left: 15px;
    height: 20px;
    width: 2px;
  }
  .header-nav__item {
    font-size: 16px;
  }
  .comein {
    top: 340px;
    left: 16px;
    padding: 11px 30px;
    font-size: 12px;
  }
  .comein svg {
    width: 9px;
    height: 9px;
  }
  /* hero  */
  .hero {
    padding-top: 54px;
  }
  .hero__content {
    text-align: center;
    padding: 30px 15px 45px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 44px;
  }
  .hero__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .hero__btn {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }
  /* about  */
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }
  .about__text {
    font-size: 14px;
    line-height: 28px;
  }
  /* gallery */
  .gallery__filter {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .gallery__title {
    font-size: 29px;
  }
  .gallery__text {
    bottom: 50px;
  }
  .gallery__slider {
    margin-bottom: 70px;
    padding-top: 0;
  }
  .gallery__wrapper {
    flex-wrap: nowrap;
  }
  .swiper-button-prev, .swiper-pagination {
    margin-right: 11px;
  }
  .gallery-slider-buttons {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320px) {
  .gallery-slider-buttons {
    position: absolute;
    bottom: 240px;
    left: calc(50% - (125px / 2));
    max-width: 125px;
    margin: 0;
  }
  .swiper-pagination {
    font-size: 13px;
  }
}