@media (min-width: 1025px) and (max-width: 1920px) {
  /*  hovers */
  .header-nav__link:hover, .header__select:hover, .comein:hover, .choices__inner:hover {
    color: var(--colorVioletLight);
  }
  .comein:hover path {
    fill: var(--colorVioletLight);
  }
  .dropbtn:hover {
    color: var(--colorVioletLight);
  }
  .dropbtn:hover .dropbtn__icon1, .dropbtn:hover .dropbtn__icon2 {
    background: var(--colorVioletLight);
  }
  .dropdown__link:hover::before, .dropdown__link:focus::before {
    opacity: 1;
  }
  .header__form-btn:hover path, .header__form-btn:hover rect {
    fill: var(--colorVioletLight);
    transition: .2s;
  }
  .header__search:hover {
    border-bottom: solid 1px var(--colorVioletLight);
  }
  .hero__btn:hover {
    border: solid 3px #D1A9F0;
  }
  .hero__btn:hover::after {
    opacity: 0;
  }
  .header-nav__link:active, .header__select:active, .comein:active {
    background: transparent;
    color: var(--colorViolet);
  }
  .comein:active path {
    fill: var(--colorViolet);
  }
  .choices:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: var(--colorVioletLight);
  }
  .countries__btn:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  }
  .gallery__slide:hover::after {
    opacity: 1;
  }
  .accor__btn:hover {
    color: #9D5CD0;
  }
  .accor__btn:hover::after {
    width: 100%;
  }
  .accor__item:hover {
    color: #9D5CD0;
    border-top: 1px solid #9D5CD0;
    border-bottom: 1px solid #9D5CD0;
  }
  .accor__item:hover .ui-icon {
    background-color: #D1A9F0;
  }
  .accor__item:hover .accor__item-title {
    color: #9D5CD0;
  }
  .events__card-link:hover {
    color: #D1A9F0;
    border-bottom: 1px solid #D1A9F0;
  }
  .events__btn:hover {
    color: #fff;
    background-color: #9D5CD0;
  }
  .editions__swiper-button-next:hover, .editions__swiper-button-prev:hover {
    background-color: var(--colorVioletLight);
  }
  .editions__item:hover .editions__label {
    color: #C283F3;
  }
  .editions__item:hover .editions__checkbox-box {
    border: 1px solid #C283F3;
  }
  .editions__slide-btn:hover {
    background-color: #9D5CD0;
  }
  .editions__range-input:hover {
    background-color: #9D5CD0;
  }
  .projects__tyl:hover {
    background-color: #9D5CD0;
  }
  .projects__text-link:hover {
    color: #C283F3;
  }
  .projects__slide-link:hover .projects__slide-img {
    filter: none;
    opacity: 1;
  }
  .projects__button-next:hover, .projects__button-prev:hover {
    background-color: #9D5CD0;
  }
  .contacts__btn:hover {
    color: #fff;
    background-color: #9D5CD0;
  }
  .contacts__input:hover {
    background-color: #EAEAEA;
  }
  .contacts__icon:hover {
    opacity: 0.5;
  }
  /* active */
  .dropbtn:active {
    color: var(--colorViolet);
    background: transparent;
  }
  .dropbtn:active .dropbtn__icon1, .dropbtn:active .dropbtn__icon2 {
    background: var(--colorViolet);
  }
  .dropdown__link:active::after {
    opacity: 0.4;
  }
  .header__form-btn:active path, .header__form-btn:active rect {
    fill: var(--colorViolet);
    transition: .2s;
  }
  .header__form-btn:active {
    background: none;
  }
  .hero__btn:active {
    background: var(--colorViolet);
    border: solid 3px #D1A9F0;
  }
  .hero__btn:active::after {
    opacity: 0;
  }
  .swiper-button-next:active, .swiper-button-prev:active {
    background-color: var(--colorViolet);
    border: 2px solid #000;
  }
  .gallery__slide:active::before {
    border-color: #D1A9F0;
    background-color: rgba(194, 131, 243, 0.4);
  }
  .countries__btn:active {
    border: 2px solid #7943A4;
    border-radius: 50%;
  }
  .accor__btn:active {
    color: var(--colorViolet);
    background: none;
  }
  .accor__item:active {
    color: var(--colorViolet);
    border-top: 1px solid var(--colorViolet);
    border-bottom: 1px solid var(--colorViolet);
  }
  .accor__item:active .ui-icon {
    border: 1px solid var(--colorViolet);
  }
  .events__card-link:active {
    color: var(--colorViolet);
    border-bottom: 1px solid var(--colorViolet);
  }
  .events__btn:active {
    color: #fff;
    background-color: var(--colorViolet);
  }
  .editions__slide-btn:active {
    background-color: var(--colorViolet);
  }
  .editions__range-input:active {
    background-color: var(--colorViolet);
  }
  .projects__tyl:active {
    color: #fff;
    background-color: var(--colorViolet);
  }
  .projects__text-link:active {
    background-color: transparent;
    color: var(--colorViolet);
  }
  .projects__slide-link:active {
    border: 1px solid #9D5CD0;
  }
  .projects__button-next:active, .projects__button-prev:active {
    background-color: var(--colorViolet);
  }
}

.contacts__btn:active {
  color: #fff;
  background-color: var(--colorViolet);
}

.contacts__icon:active {
  border-color: #9643A4;
  opacity: 1;
}

@media (max-width: 1700px) {
  .container {
    max-width: 1200px;
  }
  /* header */
  .logo {
    margin-right: 100px;
  }
  .header-nav__list :not(:last-child), .dropdown {
    margin-right: 30px;
  }
  .header-nav__item, .comein, .dropbtn, .header__search, .header__search::placeholder {
    font-size: 16px;
  }
  .header__form-btn svg {
    width: 26px;
  }
  /* hero */
  .hero__content {
    padding: 30px 0 80px 0;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__text {
    margin-bottom: 107px;
  }
  /* catalaog  */
  .accor__item-names {
    columns: auto 2;
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 0 50px;
  }
  /* header */
  .header__content {
    justify-content: space-between;
  }
  .logo, .comein {
    margin: 0;
  }
  .header-nav__list :not(:last-child), .dropdown {
    margin-right: 10px;
  }
  .header__search {
    max-width: 120px;
  }
  .header-nav__item, .comein, .dropbtn, .header__search, .header__search::placeholder {
    font-size: 14px;
  }
  .header__search::placeholder {
    font-size: 12px;
  }
  /* editions  */
  .editions__block-right {
    width: 66%;
  }
  /* contacts  */
  .contacts__left {
    width: 48%;
    padding: 124px 50px 105px;
  }
  .contacts__right {
    width: 52%;
  }
}

@media (max-width: 1024px) {
  /* open burger */
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 106px 50px;
    background: url(../img/head/bgd-png3.png);
    transform: translateX(-200%);
    animation-name: close-menu;
    animation-duration: 400ms;
  }
  .header-nav :not(:last-child) {
    margin-bottom: 40px;
  }
  .header-nav__item {
    font-size: 24px;
  }
  .comein {
    position: fixed;
    top: 637px;
    left: 50px;
    padding: 19px 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    font-size: 18px;
    transform: translateX(-200%);
    animation-name: close-menu;
    animation-duration: 400ms;
  }
  .header-nav__list {
    flex-direction: column;
  }
  .bgd-png {
    display: none;
  }
  .burger, .header__search-mob, .header-nav__first-child {
    display: block;
  }
  .header-nav.is-open, .comein.is-open {
    overflow-y: scroll;
    transform: translateX(0);
    animation-name: open-menu;
    animation-duration: 500ms;
  }
  /* hero  */
  .hero {
    padding-top: 98px;
  }
  .hero__content {
    max-width: 660px;
    padding: 105px 0 114px 0;
  }
  /* about */
  .about__content {
    max-width: 100%;
  }
  /* events  */
  .events__cards {
    grid-gap: 27px;
  }
  .events__info {
    padding: 14px 18px 56px 35px;
  }
  .events__card-text {
    margin-bottom: 27px;
  }
  /* editions  */
}

@media (max-width: 950px) {
  /* events  */
  .events__cards {
    grid-template-columns: 1fr 1fr;
  }
  .events__card3 {
    display: none;
  }
  /* editions  */
  .editions__block-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .editions__block-right {
    width: 100%;
    padding: 0 24px;
  }
  .editions__list {
    columns: auto 3;
  }
  .editions__flex {
    flex-direction: column;
  }
  .editions__range-box span, .editions__range-input {
    padding: 4px 4px;
  }
  /* projects  */
  .projects__slider-title {
    margin-bottom: 29px;
  }
}

@media (max-width: 768px) {
  /* hero  */
  .hero__content {
    max-width: 100%;
  }
  /* gallery */
  .gallery {
    padding: 50px 0;
  }
  .gallery__box {
    flex-direction: column;
  }
  .gallery__filter {
    max-width: 280px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .gallery__text {
    display: none;
  }
  .gallery__text-mob {
    display: block;
  }
  .gallery__slider {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .gallery__slide {
    height: calc((100% - 34px) / 2);
  }
  /* catalog  */
  .catalog__content {
    flex-direction: column-reverse;
  }
  .catalog__text {
    margin-bottom: 30px;
  }
  .countries :not(:last-child) {
    margin: 0;
  }
  .countries {
    justify-content: space-between;
    width: 70%;
  }
  .accor {
    width: 100%;
    margin-bottom: 50px;
  }
  .accor__item-names {
    columns: auto 3;
  }
  .artist {
    width: 100%;
    margin: 0;
  }
  .artist__years {
    font-size: 12px;
    line-height: calc(16 / 12);
    color: #999;
  }
  /* events  */
  .events__cards {
    grid-gap: 34px;
  }
  .events__card-text {
    margin-bottom: 59px;
  }
  /* contacts  */
  .contacts__left {
    width: 60%;
  }
  .contacts__right {
    width: 40%;
  }
}

@media (max-width: 670px) {
  .container {
    margin: 0 15px;
  }
  /* header  */
  .header__content {
    padding: 12px 0;
  }
  .logo {
    width: 96px;
    height: 21px;
  }
  .burger {
    width: 30px;
    height: 30px;
  }
  .burger__icon, .burger__icon::before, .burger__icon::after {
    height: 2px;
    margin-left: -7px;
  }
  .burger__icon::before {
    width: 20px;
    transform: translateY(-6px);
  }
  .burger__icon {
    width: 15px;
  }
  .burger__icon::after {
    width: 13px;
    transform: translateY(6px);
  }
  .header__search-mob svg {
    width: 16px;
    height: 16px;
  }
  .header-nav {
    padding: 56px 15px;
  }
  .header-nav :not(:last-child) {
    margin-bottom: 20px;
  }
  .header-nav__close {
    top: 15px;
    left: 16px;
  }
  .header-nav__close::before, .header-nav__close::after {
    left: 15px;
    height: 20px;
    width: 2px;
  }
  .header-nav__item {
    font-size: 16px;
  }
  .comein {
    top: 340px;
    left: 16px;
    padding: 11px 30px;
    font-size: 12px;
  }
  .comein svg {
    width: 9px;
    height: 9px;
  }
  /* hero  */
  .hero {
    padding-top: 54px;
  }
  .hero__content {
    text-align: center;
    padding: 30px 15px 45px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 44px;
  }
  .hero__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .hero__btn {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }
  /* about  */
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .regular-48 {
    font-weight: 400;
    font-size: 28px;
    line-height: calc(38 / 28);
  }
  .bold-600 {
    font-size: 18px;
  }
  .about__text {
    font-size: 14px;
    line-height: 28px;
  }
  /* gallery */
  .gallery__filter {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .gallery__title {
    font-size: 29px;
  }
  .gallery__text {
    bottom: 50px;
  }
  .gallery__slider {
    margin-bottom: 70px;
    padding-top: 0;
  }
  .gallery__wrapper {
    flex-wrap: nowrap;
  }
  .swiper-button-prev, .swiper-pagination {
    margin-right: 11px;
  }
  .gallery-slider-buttons {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__slide {
    height: calc((100% - 15px) / 2);
  }
  /* catalog  */
  .catalog {
    padding: 50px 0 25px;
  }
  .catalog__top {
    flex-direction: column;
    align-items: start;
  }
  .accor__item-names {
    columns: auto 1;
  }
  .catalog__title {
    margin: 0;
    margin-bottom: 10px;
  }
  .countries__item {
    width: 44px;
    height: 44px;
  }
  .countries__btn {
    width: 32px;
    height: 32px;
  }
  .countries {
    justify-content: initial;
    width: 100%;
  }
  .countries :not(:last-child) {
    margin-right: 20px;
  }
  .catalog__text {
    display: none;
  }
  /* events  */
  .events {
    padding: 25px 0 50px;
  }
  .events__title {
    margin-bottom: 20px;
  }
  .events__slider {
    overflow: hidden;
  }
  .events__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .events__slide {
    flex-shrink: 0;
  }
  .events__card4, .events__card5, .events__card3, .events__pagination {
    display: block;
  }
  .events__btn {
    display: none;
  }
  .events__cards {
    grid-gap: 0;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 15px;
  }
  .events__pagination {
    text-align: center;
    margin-top: 20px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .swiper-pagination-bullet-active {
    background-color: #666;
  }
  .events__info {
    padding: 14px 11px 56px 29px;
  }
  /* editions  */
  .editions {
    padding: 50px 0;
  }
  .editions__title {
    margin-bottom: 20px;
  }
  .editions__label {
    line-height: calc(22 / 16);
  }
  .editions__slide-title, .editions__slide-author, .editions__slide-price, .editions__slide-btn {
    font-size: 12px;
    line-height: calc(16 / 12);
  }
  .editions__slide-author {
    margin-bottom: 8px;
  }
  .editions__list {
    columns: initial;
  }
  .editions__block-left-btn {
    margin: 0;
    padding: 13px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .editions__slide-desc {
    display: flex;
    flex-direction: column;
  }
  .editions__price-box {
    display: block;
  }
  .editions__block-left-btn::after, .editions__item-icon {
    display: block;
  }
  .editions__block-left-btn-checked+.editions__checkboxs .editions__item-icon {
    display: none;
  }
  .editions__block-left-btn-checked::after {
    transform: rotate(0);
    transition: .3s;
  }
  .editions__item {
    display: none;
    margin: 0;
    margin-top: -1px;
    padding: 13px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
  }
  .editions__item-active {
    display: flex;
    opacity: 1;
    animation-name: show-drop;
    animation-duration: 400ms;
  }
  .editions__slider {
    overflow: initial;
  }
  .editions__wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .editions__block-right {
    padding: 0;
  }
  .editions__slider-buttons {
    display: none;
  }
  .editions__slide {
    width: 48%;
    margin-bottom: 50px;
  }
  .editions__last-slide {
    margin: 0;
  }
  /* projects */
  .projects {
    padding: 50px 0 25px;
  }
  .projects__text {
    max-width: 100%;
  }
  .projects__title, .projects__text, .projects__slider-title {
    margin-bottom: 20px;
  }
  .projects__container {
    max-width: calc(100% - 68px);
  }
  .projects__slide::after {
    padding-top: 20%;
  }
  .projects__slide-img {
    padding: 4%;
  }
  /* contacts  */
  .contacts {
    padding: 25px 0 0;
  }
  .contacts__container {
    flex-direction: column-reverse;
  }
  .contacts__left {
    width: 100%;
    padding: 0 15px;
    border: none;
  }
  .contacts__right {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .contacts__title {
    margin-bottom: 20px;
  }
  .contacts__form-subtitle, .contacts__social-subtitle {
    font-size: 18px;
  }
  .contacts__social-subtitle {
    margin-bottom: 10px;
  }
  .contacts__input {
    width: 70%;
  }
  .contacts__btn-box {
    margin-bottom: 30px;
  }
  .contacts__btn {
    padding: 12px 35px;
  }
}

@media (max-width: 320px) {
  .gallery-slider-buttons {
    position: absolute;
    bottom: 240px;
    left: calc(50% - (125px / 2));
    max-width: 125px;
    margin: 0;
  }
  .swiper-pagination {
    font-size: 13px;
  }
  /* catalog  */
  .catalog {
    padding: 50px 0 25px 0;
  }
  .accor__item-title {
    padding: 20px 0;
  }
  .ui-icon {
    width: 30px;
    height: 30px;
  }
  .accor__item-content {
    padding-top: 20px;
  }
  .artist__foto {
    margin-bottom: 20px;
  }
  .artist__name {
    margin-bottom: 15px;
  }
  /* contacts */
  .contacts__input, .contacts__right {
    width: 100%;
  }
}