.modals {
  z-index: 10;
  color: #333;
}

.modals__container {
  max-width: 50%;
  margin: 0 auto;
}

.modals__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.modal {
  display: none;
  width: 900px;
  background-color: #fff;
  height: 500px;
  overflow-y: auto;
}

.modal__content {
  display: flex;
}

.modal__img {
  object-fit: cover;
  width: 400px;
  height: 100%;
  min-height: 500px;
}

.modal__text-content {
  width: 52%;
  padding: 122px 50px 90px;
}

.modal__title, .modal__img-name {
  margin: 0;
}

.modal__title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(32 / 24);
}

.modal__img-name {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(21 / 16);
}

.modal__years {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #969696;
}

.modal__close {
  position: absolute;
  right: 0;
  padding: 20px;
  color: #000;
  font-size: 50px;
  line-height: 0;
  cursor: pointer;
}

.modals-overlay-visible {
  opacity: 1;
  visibility: visible;
}

.modal__visible {
  position: relative;
  display: block;
}