.projects {
  padding: 80px 0;
}

.projects__title, .projects__text, .projects__slider-title {
  margin: 0;
  color: #333;
}

.projects__tyl {
  position: relative;
  top: -5px;
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #9D5CD0;
  border-radius: 50%;
  font-weight: 600;
  background: transparent;
  transition: .2s;
}

.projects__tyl::after {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'i';
}

.projects__tyl:focus {
  outline: none;
  background-color: var(--colorVioletLight);
}

.tippy-box[data-theme~='violet'] {
  color: #fff;
  background-color: #9D5CD0;
}

.tippy-box[data-theme~='violet'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: #9D5CD0;
}

.projects__slider {
  position: relative;
}

.projects__title, .projects__text {
  margin-bottom: 30px;
}

.projects__text {
  max-width: 68%;
}

.projects__text-link {
  font-weight: 600;
  color: #9D5CD0;
  transition: .2s;
}

.projects__text-link:focus {
  outline: none;
  color: #fff;
  background-color: var(--colorViolet);
}

.projects__slider-title {
  margin-bottom: 23px;
}

.projects__container {
  max-width: 1450px;
  max-width: calc(100% - 145px);
  margin: 0 auto;
  overflow: hidden;
}

.projects__wrapper {
  display: flex;
}

.projects__slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #CACACA;
}
.projects__slide::after {
  content: '';
  display: block;
  padding-top: 35%;
}

.projects__button-prev, .projects__button-next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ECECEC;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .2s;
}

.projects__button-next {
  right: 0;
  background-image: url('../img/projects/next.png');
}

.projects__button-prev {
  left: 0;
  background-image: url('../img/projects/prev.png');
}

.projects__button-next:focus, .projects__button-prev:focus {
  border: 1px solid #000;
  background-color: var(--colorViolet);
  outline: none;
}

.projects__slide-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.projects__slide-link:focus {
  border: 1px solid #9D5CD0;
  outline: none;
}

.projects__slide-img {
  position: absolute;
  display: block;
  height: 100%;
  padding: 10%;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .2s;
}
